@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@plugin "@tailwindcss/typography";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-sans:
    'Noto Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif:
    'Noto Serif', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-kufi:
    'Noto Kufi Arabic', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  .container-prose {
    @apply prose w-full mx-auto prose-sm prose-video:rounded-box 2xl:prose-lg prose-a:link prose-a:link-hover prose-a:link-info prose-a:font-semibold;
  }
}